<h1><%= @cocktail.name %></h1>
  <%= image_tag(@cocktail.url) %>
<h2>Ingredients</h2>
  <% @cocktail.doses.each do |dose| %>
  <%= image_tag(dose.ingredient.url) %>
   <p> <%= dose.description %> - <%= dose.ingredient.name %> </p>
   <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>


<%= link_to "Add doses", new_cocktail_dose_path(@cocktail) %>
